In [2]:
from tqdm import tqdm
import pandas as pd
import numpy as np

csv_list = [
  'transactions_train',
  'articles',
  'customers',
  'sample_submission'
]

# for f_name in csv_list:
#   f_csv = f"data/{f_name}.csv"
#
#   print(f"Loading {f_csv}")
#   df = pd.read_csv(f_csv)
#   f_pqt = f"data/{f_name}.parquet"
#
#   print(f"Saving {f_pqt}")
#   df.to_parquet(f_pqt, engine="pyarrow")

from time import time

dfs = {}

for f_name in csv_list:
  start = time()
  f_pqt = f"data/{f_name}.parquet"
  print(f"Loading {f_pqt}")
  dfs[f_name] = pd.read_parquet(f_pqt, engine="pyarrow")
  end = time()
  print(f"Time = {end - start}")

articles_df = dfs["articles"]
transactions_df = dfs["transactions_train"]
customers_df = dfs["customers"]

Loading data/transactions_train.parquet
Time = 7.867337465286255
Loading data/articles.parquet
Time = 0.10146379470825195
Loading data/customers.parquet
Time = 1.322721004486084
Loading data/sample_submission.parquet
Time = 0.7099545001983643

TypeError: '_AtIndexer' object is not callable

In [2]:
transactions_df.memory_usage(deep=True)

Index                      128
t_dat               2129817708
customer_id         3846387204
article_id           254306592
price                254306592
sales_channel_id     254306592
dtype: int64

In [3]:
loop = 0
small_customers_df = customers_df.sample(frac=0.1, random_state=42)
customer_ids = set(small_customers_df["customer_id"])
small_transaction_df_locs = transactions_df["customer_id"].isin(customer_ids)

In [4]:
small_transaction_df = transactions_df[small_transaction_df_locs]

In [5]:
transactions = pd.merge(small_customers_df, small_transaction_df, on='customer_id', how='inner')
transactions_articles = pd.merge(transactions, articles_df, on='article_id', how='inner')

In [184]:
transactions_df

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id]
Index: []

In [9]:
ts2 = small_transaction_df.loc[transactions_df["t_dat"] < "2020-01-01"]

In [10]:
ts2

,t_dat,customer_id,article_id,price,sales_channel_id
47,2018-09-20,001fd23db1109a94bba1319bb73df0b479059027c182da...,631744002,0.016932,1
48,2018-09-20,001fd23db1109a94bba1319bb73df0b479059027c182da...,562252035,0.021593,1
89,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,255396006,0.067780,2
90,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,594834010,0.042356,2
91,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,516712001,0.022017,2
...,...,...,...,...,...
20808174,2019-12-31,ffa59f3804d50b99b48ce7a317db8a75e5cb45917e3030...,574407001,0.005068,1
20808175,2019-12-31,ffa59f3804d50b99b48ce7a317db8a75e5cb45917e3030...,798791001,0.033881,1
20808189,2019-12-31,fff2282977442e327b45d8c89afde25617d00124d0f999...,469658009,0.022017,2
20808190,2019-12-31,fff2282977442e327b45d8c89afde25617d00124d0f999...,761621001,0.022017,2
20808191,2019-12-31,fff2282977442e327b45d8c89afde25617d00124d0f999...,807176003,0.006763,2

In [8]:
small_transaction_df

,t_dat,customer_id,article_id,price,sales_channel_id
47,2018-09-20,001fd23db1109a94bba1319bb73df0b479059027c182da...,631744002,0.016932,1
48,2018-09-20,001fd23db1109a94bba1319bb73df0b479059027c182da...,562252035,0.021593,1
89,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,255396006,0.067780,2
90,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,594834010,0.042356,2
91,2018-09-20,00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...,516712001,0.022017,2
...,...,...,...,...,...
31788306,2020-09-22,ffcba92c45455b22f54dd02303b057c0a4b9b1f4fcfdf2...,919273004,0.042356,2
31788307,2020-09-22,ffcba92c45455b22f54dd02303b057c0a4b9b1f4fcfdf2...,881448001,0.059305,2
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1